[data-md-color-scheme="peerinnovation"] {
  --md-primary-fg-color:        #00769a;
  --md-primary-fg-color--light: #bbe7f4;
  --md-primary-fg-color--dark:  #003646;
  --md-accent-fg-color:         #f17d32;
}